
module.exports = {
  apps: [
    {
      name: 'my-nextjs-app', // Замените на имя вашего приложения
      script: 'node_modules/next/dist/bin/next',
      args: 'start -p ${PORT:-3000}', // PORT можно переопределить переменной окружения
      watch: false, // Отключите watch в продакшене, перезапускайте через pm2 reload
      autorestart: true, // Автоматический перезапуск при сбоях
      env_production: {
        NODE_ENV: 'production',
        // Здесь можно указать переменные окружения, специфичные для production,
        // но лучше использовать .env.production файл, который Next.js подхватит автоматически.
        // PORT: 3000, 
      },
      // Убедитесь, что cwd (current working directory) указывает на корень вашего проекта,
      // если этот файл лежит не в корне.
      // cwd: '/path/to/your-project-directory', 
      // Логи
      output: './logs/out.log',
      error: './logs/error.log',
      log_date_format: 'YYYY-MM-DD HH:mm Z',
    },
  ],

  // deploy: {
  //   production: {
  //     user: 'node',
  //     host: 'YOUR_SERVER_IP',
  //     ref: 'origin/main', // Или ваша продакшен ветка
  //     repo: 'GIT_REPOSITORY_URL',
  //     path: '/var/www/production',
  //     'post-deploy': 'npm install && npm run build && pm2 reload ecosystem.config.js --env production',
  //   },
  // },
};
